*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background:#eee;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.popup {
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    color: rgba(255, 255, 255, .7);
    text-align: center;

    font-size: 24px;
    top: 0;
	left: 0;
    bottom: 0;
    right: 0;
    padding: 10%;
    z-index: 2;
}

.popup #title {
    font-size: 36px;
    font-weight: bolder;
}

.popup .eg {
    font-style: italic;
    opacity: .5;
}

.popup .start {
    text-transform: uppercase;
}

.row {
    height: 100%;
}

.main-view {
    padding-right:380px;
    z-index: 0;
    height: 100%;
    background-image:url('../images/mt-fuji.jpg');
    background-repeat:no-repeat;
}

.main-view-content {
      min-width: 400px;
}

#calendar {
    width: 100%;
    height: 100%;
    border: 0;
}

.chat-view{
    width:379px;
    position:fixed;
    height:100%;
    z-index: 1;
    background:rgba(255, 255, 255, 0.2);
}

.rtl {
     direction: rtl;
}

.rtl * {
     direction: ltr;
}
