<% include ./partials/header %>

<div class="popup">
    <p id="title">Welcome to Scheduling Assistant!</p>
    <br>
    <p>Type or speak to send me a message.</p>
    <p>I can help you schedule a meeting or show you your agenda.</p>
    <br>
    <p class="eg">"Can you schedule my meeting at 3pm on Saturday?"</p>
    <p class="eg">"What are my events for the next few days?"</p>
    <br>
    <p class="start">Click anywhere to start</p>
</div>

<div class="row rtl">
    <div class="col-xs-12 main-view">
        <div class="main-view-content">
            <iframe id="calendar" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=scheduleassistantdemo%40gmail.com&amp;color=%231B887A&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FDenver">
            </iframe>
        </div>
    </div>

    <div class="chat-view">
        <div class="chat">

            <!-- CHATBOX HEADER -->
            <div class="chatbox-header">
              <h1 class="chatbox-title">Schedule Assistant</h1>
            </div>
            <!-- /CHATBOX HEADER-->

          <div class="messages">
            <div class="messages-content"></div>
          </div>

          <div class="message-box">
            <input type="text" class="message-input" placeholder="Type message..."></input>
            <img class = 'speech' src="/images/microphone.png" />
        </div>

        </div>
    </div>
</div>
<script src="scripts/chat.js"></script>
<% include ./partials/footer %>
