<% include ./partials/header %>
<div class="row rtl">
    <div class="col-xs-12 main-view">
        <div class="main-view-content">
            <p>This is the main view. This is the main view. </p>
        </div>
    </div>

    <div class="chat-view">
        <div class="chat">

            <!-- CHATBOX HEADER -->
            <div class="chatbox-header">
              <h1 class="chatbox-title">Schedule Assistant</h1>
            </div>
            <!-- /CHATBOX HEADER-->

          <div class="messages">
            <div class="messages-content"></div>
          </div>

          <div class="message-box">
            <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
            <button type="submit" class="message-submit">Send</button>
          </div>

        </div>
    </div>
</div>

<script src="scripts/chat.js"></script>
<% include ./partials/footer %>
